#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define NUMSYM 1
#define CONFIG 2
#define SYSTEM 3

/ {
	chosen {
    zmk,matrix_transform = &default_transform;
	//only relevant for 3x5 keyboards
    //zmk,matrix_transform = &five_column_transform;
  };
};

&lt {
    tapping_term_ms = <150>;
    flavor = "tap-preferred";
};
	
/ {
	behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "hm_mods";
            #binding-cells = <2>;
            tapping_term_ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
			quick-tap-ms = <150>;
			global-quick-tap;
        };
	};

	keymap {
        compatible = "zmk,keymap";

        default_layer {
	        label = "Base";
                bindings = <
		 // ESC now acts as a layer-tap: it specifically has ONLY bootloader and soft reset keys so I don't keep accidentally hitting them when I switch to config
         &lt 3 ESC 	&kp Q   &kp W   &kp E	&kp R 	&kp T  		&kp Y   &kp U		&kp I		&kp O  		&kp P		&kp BSPC
		 // removed all home row mods except for windows (RGUI)
         &kp LSHFT	&kp A 	&kp S	&kp D 	&kp F 	&kp G 		&kp H   &hm RGUI J	&kp K 		&kp L 		&kp SEMI  	&kp RSHFT 
         &kp TAB  	&kp Z	&kp X   &kp C	&kp V 	&kp B		&kp N   &kp M		&kp COMMA	&kp DOT 	&kp FSLH    &kp DEL
					&kp LALT	&kp LCTRL	&kp SPACE						&kp RET		&mo 1	&mo 2	
            >;
        };

        num_layer {
			label = "NumSym";
                bindings = <
        &none  &kp N1	&kp N2	&kp N3 	&kp N4  &kp N5 	 		&kp N6  	&kp N7  	&kp N8	 	&kp N9	&kp N0		&trans
        &trans	&none	&none 	&none 	&none 	&kp GRAVE		&kp SQT		&kp EQUAL	&kp FSLH	&none	&kp PG_UP	&trans
        &none	&none   &none	&none	&none   &kp BSLH		&kp MINUS	&kp LBKT	&kp RBKT	&none	&kp PG_DN   &trans
									&trans	&trans	&trans						&trans	&trans	&none
            >;
        };

        config_layer {
		label = "Functs";
                bindings = <
        &kp F1	&kp F2  &kp F3	&kp F4	&kp F5		&kp F6				&kp F7		&kp F8	&kp F9	&kp F10		&kp F11		&kp F12
        &trans	&none	&none	&none	&kp C_PREV	&kp C_VOL_UP		&kp HOME	&none	&none	&none		&kp UP		&trans
        &none	&none	&none	&none	&kp C_NEXT	&kp C_VOL_DN		&kp END		&none	&none	&kp LEFT	&kp DOWN	&kp RIGHT
								&trans   &trans     &kp C_MUTE     				&none	&none	&trans
            >;
        };
		
		system_layer {
		label = "System";
		// note positions are mirrored.  
                bindings = <
        &trans		&none		&none	&none	&sys_reset		&none				&none	&sys_reset	&none	&none	&none		&none
        &bt BT_CLR	&none		&none	&none	&bt BT_SEL 0	&bt BT_SEL 1		&none	&none		&none	&none	&none		&none
        &none		&bootloader	&none	&none	&none			&out OUT_TOG		&none	&none		&none	&none	&bootloader &none
												&none  &none	&none    				&none	&none	&none
            >;
		};
		
	};
};